# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
# default = Listen.settings
dmzj = Dmzj.settings
ting89 = Listen.settings
56tingshu = 56tingshu.settings

[deploy]
#url = http://localhost:6800/
project = Listen
